<html>
<head>
	<meta charset="UTF-8">
	<title>CMA Presentation</title>

	<link rel="stylesheet" href="<%= baseUrl %>/packages/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="<%= baseUrl %>/css/main.css">
	
	<!-- typekit --> 
	<script type="text/javascript" src="//use.typekit.net/fmu8pyh.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<script src="<%= baseUrl %>/packages/jquery/dist/jquery.min.js"></script>
	<script src="<%= baseUrl %>/packages/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="<%= baseUrl %>/packages/stellar/jquery.stellar.min.js"></script>
	<script src="<%= baseUrl %>/js/main.js"></script>

</head>
<body>

	<div class="jumbo jumbo-image" style="background-image: url('<%= baseUrl %>/img/eating_header.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 text-overlay">
					<h1 class="flag">A culture of disordered eating</h1>
					<h3>How college students gain control</h3>
				</div>				
			</div>
		</div>
		<div class="article-date">
			<span class="original-post-date">Posted 10:00 a.m., 26 March 2014 / </span>
			<span class="updated-post-date">Last updated 3:06 p.m. 22 May 2014</span>
		</div>		
	</div>

	<div class="container-fluid article-container">
		<div class="row">
			<!-- article meta information --> 
			<div class="col-sm-2 col-md-3 article-meta">
				<div class="row author-information">
					<div class="headshot col-lg-4 col-lg-offset-1">
						<img src="<%= baseUrl %>/img/headshots/HammockHeadshots-1.jpg" alt="" class="author-img">
					</div>
					<div class="name-title col-lg-7">
						<div class="written-by">Written by</div>
						<div class="author-name">Saara Asikainen</div>
						<div class="author-title">Life reporter</div>
					</div>
				</div>
			</div>
		

		<!-- main article content --> 
		<div class="col-sm-8 col-md-6 article-content">
			<header>
				<h5 class="article-lede">
					In Vanderbilt’s highly competitive environment, many students display eating disorder behaviors in an attempt to gain control. InsideVandy breaks down this culture of disordered eating and Vanderbilt’s resources for combating this issue.
				</h5>
			</header>

			<div class="article-content-body">
				<div class="article-section">
					<h4 class="article-subhead">Disordered eating in college</h4>
					<p>
						The Eating Disorder Coalition of Tennessee hosted a charity walk at Centennial Park on Saturday, as part of the National Eating Disorder Awareness Week, benefitting the National Eating Disorder Association (NEDA). It is a particularly important cause to junior Bailey Monarch, who participated in the event and helped raise more than $1,300 for the organization.
						<div class="person-info hidden-xs hidden-sm">
							<div class="headshot col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-1">
								<img src="<%= baseUrl %>/img/headshots/HammockHeadshots-3.jpg" alt="">
							</div>
							<div class="person-name-title col-sm-12 col-lg-7">
								<div class="name">Bailey Monarch</div>
								<div class="title">Junior</div>
							</div>
						</div>
					</p>
					<p>Having coordinated over three walks for NEDA in her hometown of Tampa during high school, Monarch has always been close to the cause and has continued to support it in her college years as well. Majoring in HOD in the pre-nursing program, she has noted the prevalence of eating disorders at Vanderbilt.</p>
					<p>Monarch said, “It’s really, really heartbreaking, and I definitely think that there are a lot of factors that go into that.”</p>
					<p>Monarch feels that the general pressure felt by students on campus to look and act a certain way is a main cause for eating disorders at Vanderbilt.</p>
					<p>“I think one of them would be just the stressful environment that a lot of people experience while at Vanderbilt,” Monarch said. “And a lot of times eating disorders can develop when people are really stressed and feel as if a lot of aspects of their life are out of control and food is the one thing that they can control.”</p>
					<p>And when things are spinning out of control, sometimes people don’t even notice the unhealthy behaviors they are engaging in.</p>

					<blockquote class="text-center">“A lot of times people don’t realize what has happened and is happening until they’re deep within the throes of their eating disorder.” 
						<cite>Bailey Monarch</cite>
					</blockquote>

					<p>Go Figure, the student organization committed to promoting a positive body image, was also represented at the walk. Sophomore Kelly Tieu, a representative for the organization, has experienced and witnessed the effects of the culture around disordered eating at Vanderbilt.
					<div class="person-info hidden-xs hidden-sm">
						<div class="headshot col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-1">
							<img src="<%= baseUrl %>/img/headshots/HammockHeadshots-4.jpg" alt="">
						</div>
						<div class="person-name-title col-sm-12 col-lg-7">
							<div class="name">Kelly Tieu</div>
							<div class="title">Sophomore, Go Figure representative</div>
						</div>
					</div>
					</p>
					<p>“It affects the way people see themselves, the way that it affects their self-confidence and the way that we talk about body image around campus really affects that as well — the ‘Oh my God I feel fat today’ or ‘Do I look fat in this?’” Tieu said.</p>
					<div class="panel">
						<div class="panel-body bg-warning">
							<h5>What is disordered eating?</h5>
							<p>Disordered eating is a term used to describe behavior that embodies only some of the symptoms of an eating disorder.</p>
						</div>
					</div>
					<p>This type of negative-self talk is often associated with disordered eating. According to the National Eating Disorder Information Center (NEDIC), the general definition of disordered eating includes "a wide range of abnormal eating." It manifests itself through behaviors seen in disorders such as anorexia nervosa and bulimia that nevertheless do not warrant an eating-disorder diagnosis. An eating-disorder diagnosis is only warranted when a certain number of symptoms are expressed, but if a person only shows certain aspects of the disease, they are seen as having disordered eating habits*. 
						<div class="aside right col-md-3">
							*Examples of disordered eating behaviors might include self-induced vomiting, skipping meals or unbalanced eating (for example, restricting a major food group such as "fatty" foods or carbohydrates).
						</div>
					</p>
				</div>

				<div class="article-section">
					<h4 class="article-subhead">Vanderbilt's resources for eating disorders</h4>
					<p>Cindy Green, the head of the eating disorder treatment team at the Psychological Counseling Center, feels that the best thing would be to intervene when the illness is in its developmental stages.
					<div class="person-info hidden-xs hidden-sm">
						<div class="headshot col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-1">
							<img src="<%= baseUrl %>/img/headshots/HammockHeadshots-5.jpg" alt="">
						</div>
						<div class="person-name-title col-sm-12 col-lg-7">
							<div class="name">Cindy Green</div>
							<div class="title">Head of Eating Disorder Treatment, PCC</div>
						</div>
					</div>
					</p>
					<p>“I would love it if somebody came and said, ‘You know what, I’ve been going on a diet and I’m realizing that things have been drifting in a not great direction, so I’d really like to work on that.’ That would be ideal,” Green said.</p>

					<div class="panel">
						<div class="panel-body bg-warning">
							<h5>PCC Schedule and Contact Information</h5>
							<ul class="no-bullets">
								<li><strong>Location:</strong> 2015 Terrace Place, across from the Baker Building</li>
								<li><strong>Hours:</strong> 8 a.m.-5 p.m. Monday-Friday</li>
								<li><strong>Phone:</strong> (615) 322-257</li>
								<li><strong>Website</strong> <a href="https://medschool.vanderbilt.edu/pcc/">Link</a></li>
							</ul>
							<iframe frameborder="0" height="350" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2015+Terrace+Pl,+Vanderbilt+University,+Nashville,+TN+37203&amp;sll=36.149583,-86.799624&amp;sspn=0.013948,0.027809&amp;ie=UTF8&amp;hq=&amp;hnear=2015+Terrace+Pl,+Nashville,+Tennessee+37203&amp;t=m&amp;ll=36.157766,-86.798&amp;spn=0.024255,0.030041&amp;z=14&amp;iwloc=A&amp;output=embed" width="350" class="last-child" kwframeid="1"></iframe>
						</div>
					</div>

					<p>Green considers eating disorders themselves as coping mechanisms that work until they don’t.</p> 
					<p>Green said, “That’s (anorexia nervosa) an eating disorder where there is a lot of ... confusion in the person’s mind about whether this is actually a problem or not. It’s like, ‘No, this is working great; being thin is what makes me happy — being even thinner would make me even happier.’ …The thing about an eating disorder is that it can give you a sense of control at a time in your life when you feel out of control about almost everything else.”</p>
					<p>According to national statistics, college-aged girls are the most at-risk group for developing an eating disorder, often as a result of the stress from transitioning from high school into the more competitive collegiate setting.</p>
					<figure>
						<img src="img/dietgraphic.png" alt="">
						<cite>Source: National Association of Anorexia Nervosa and Associated Disorders</cite>
					</figure> 
					<p>According to the National Association of Anorexia Nervosa and Associated Disorders, “25% of college-aged women engage in bingeing and purging as a weight-management technique, and 91% of women surveyed on a college campus had attempted to control their weight through dieting.”</p>
					<p>Students at an institution like Vanderbilt might be particularly vulnerable to developing eating disorders.</p>
					<blockquote class="text-center">“The same perfectionism that made it possible for people to get good enough grades to get into Vanderbilt in the first place also makes them at risk for this kind of thing.” 
						<cite>Cindy Green, head of eating disorder treatment</cite>
					</blockquote>
					<p>In Green’s caseload, anorexics are slightly more common because people are more likely to reach out on their behalf as their illness manifests itself more physically. According to her, bulimics are more likely to be at a normal weight and binge-eaters also do not worry other people as much.</p>
					<p>“They’re not walking around ‘looking’ like a disorder,” Green said.</p>
					<p>According to Green, eating disorders in general are becoming more and more prevalent on college campuses nationwide, but Vanderbilt is ahead of the curve by having a more comprehensive treatment program than most colleges and universities, only surpassed by Duke University that has a treatment center directly off-campus.</p>
				</div>

				<div class="article-section">
					<h4 class="article-subhead">Disordered eating across colleges</h4>
					
					<p>The culture of disordered eating is not unique to Vanderbilt. Among the throngs of college girls in sweatshirts and leggings on the Saturday morning NEDA walk were Kathleen Trotter and Aven Chadwell, two Belmont students and survivors of eating disorders who had come to support NEDA because of their own on-campus advocacy work.
					<div class="person-info hidden-xs hidden-sm">
						<div class="headshot col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-1">
							<img src="<%= baseUrl %>/img/headshots/HammockHeadshots-6.jpg" alt="">
						</div>
						<div class="person-name-title col-sm-12 col-lg-7">
							<div class="name">Kathleen Trotter</div>
							<div class="title">Senior, Belmont University</div>
						</div>
					</div>
					</p>
					<p>A senior majoring in entertainment industry studies, Trotter said her eating disorder was fixated on control.</p>
					<p>“I knew I was good at restricting calories, I knew exactly how to transform my body, I knew exactly how many calories were in things I was eating and how many steps I could take to burn it all off,” Trotter said. ”So when other things weren’t going my way … for some reason, my solution to those problems, even though it had nothing to do with my grades, would be to lose weight.”</p>
					<p>	Both felt that Belmont students might be particularly affected by eating disorders due to many students’ desire to become employed in the entertainment industry.</p>
					<p>“A lot of people are interested in being part of the music industry and the entertainment industry and that’s an industry that, you know, does place a lot of emphasis on outward appearance,” Trotter said.
					Trotter lauded the university’s approach to inviting events about eating disorders, even if its prevention programming is minimal.</p>
					<p>Chadwell, a recent graduate who studied art history and dance, also praised the level of support she received as an undergraduate at Belmont from peers and faculty alike. When she felt healthy enough to talk about her disorder, she said she was greatly supported by the collegiate community.
					<div class="person-info hidden-xs hidden-sm">
						<div class="headshot col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-1">
							<img src="<%= baseUrl %>/img/headshots/HammockHeadshots-7.jpg" alt="">
						</div>
						<div class="person-name-title col-sm-12 col-lg-7">
							<div class="name">Aven Chadwell</div>
							<div class="title">Belmont University Alumna</div>
						</div>
					</div>
					</p>
					<blockquote class="text-center">“I have just never felt embarrassed speaking out and I think that’s something that is really, really special and partly unique to just what a great job Belmont does at fostering that sense of community and truly sharing a special connection with other students.” 
						<cite>Aven Chadwell</cite>
					</blockquote>
					<p>Chadwell sought treatment immediately upon entering college. After being treated by a general counselor at her high school, she found a specialist at Belmont through the school. She considers herself lucky, but also thinks she is in the minority when it comes to the accessibility of the treatment facilities.</p>
					<p>“I was really lucky to have a counselor that is on the nursing faculty as well as counseling, so I was lucky that I didn’t have to go off campus, and because it was through Belmont I didn’t have to pay for any outside fees,” Chadwell said.</p>
				</div>

				<div class="article-section">
					<h4 class="article-subhead">Problems with Vanderbilt's resources</h4>
					<p>Bailey Monarch opined that she does not consider Vanderbilt’s resources adequate for students struggling with eating disorders.</p>
					<p>“Honestly, I don’t think that the counselors at the PCC are qualified to deal with something as complex as an eating disorder, and, a lot of times, I know (patients) can only see the counselors at the PCC once every other week. A lot of times with eating disorders people need to see counselors at least once a week, maybe several times a week, because the beginning stages of getting treatment, there’s a lot of support that’s needed and a lot of things that need to be addressed,” Monarch said.</p>

					<blockquote>
						“I don’t think that Vanderbilt has adequate resources and seeing a counselor every other week is not enough for that.”
						<cite>Bailey Monarch</cite>
					</blockquote>
					<p>Green does not see a problem with the frequency of appointments with individual counselors when they are supplemented with visits with other healthcare professionals and group therapy where the students practice identifying and dealing with triggers and the subsequent behaviors.</p>
					<p>“I think twice a week might be an overkill anyway, but certainly I have people who I see weekly who are really struggling,” Green said. “Between group and therapy, it would be possible to get treatment twice a week every other week.”</p>

					<div class="panel">
						<div class="panel-body bg-warning">
							<h5>Interested in hearing more?</h5>
							<p>Listen to the full interviews with Baily and Cindy. Talking points include Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, maiores.</p>
							
							<p><strong>Bailey Monarch</strong></p>
							<audio controls class="bg-warning">
							  <source src="<%= baseUrl %>/audio/sample.ogg" type="audio/ogg">
							  <source src="<%= baseUrl %>/audio/sample.mpg" type="audio/mpeg">
							Your browser does not support the audio element.
							</audio>
							<p><strong>Cindy Green</strong></p>
							<audio controls class="bg-warning">
							  <source src="<%= baseUrl %>/audio/sample.ogg" type="audio/ogg">
							  <source src="<%= baseUrl %>/audio/sample.mpg" type="audio/mpeg">
							Your browser does not support the audio element.
							</audio>
						</div>
					</div>
					
					<p>A student seeking treatment for an eating disorder at Vanderbilt is generally directed to the PCC or the Zerfoss Student Health Center where they will be directed to the other center’s holistic treatment. Besides the team at the PCC, the Student Health Center houses two internists and a nutritionist whose availability has caused some concern. The nutritionist only sees patients for three hours a week at the clinic and works at the Adolescent and Young Adult Eating Disorders Program at Children’s Hospital at 100 Oaks for the rest of the time.</p>

					<div class="panel">
						<div class="panel-body bg-warning">
							<h5>Eating disorder treatment at the PCC</h5>
							<p>A further discussion with Catharine Fuchs, director of the PCC, provided more details on the process the PCC uses to diagnose and treat eating disorders.</p>
							<strong>The treatment process</strong>
							<ol>
								<li><strong>Assessment and stabilization: </strong>
										if a student presents with, for example, significant weight loss and fainting spells, the treatment needs to address the medical acuity in coordination with the Student Health Center
										if the student has a known history of anorexia but they are medically stable and maintain their weight within a safe range, they can move to the next phase immediately after assessment 
								</li>
								<li><strong>Harm reduction: </strong>
								the student in this phase is in a place where they are not harming themselves through unsafe eating patterns or self-injurious behaviors management of self-destructive thoughts is continued
								</li>
								<li>
									<strong>Evidence-based treatment: </strong>
										treatment is continued based on the individual presentation of the eating disorder
								</li>
								<li>
									<strong>Ongoing support or discontinuing treatment </strong>
								</li>
							</ol>
							<button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".treatment-details-modal">View the full discussion</button>
						</div>
					</div>

					<!-- treatment details modal --> 
					<div class="modal fade treatment-details-modal" tabindex="-1" role="dialog" aria-labelledby="treatment-details-modal" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h4><strong>PCC director clarifies approach to eating-disorder case management</strong></h4>
								</div>
								<div class="modal-body">
									<p>When Director Catherine Fuchs joined the Psychological Counseling Center in August 2012, she set out to coordinate and offer additional training to teams taking care of students suffering with eating disorders. Fuchs led a study team of representatives from different disciplines at the counseling center in a literature review, which examined both standard cases as well as cases presenting with comorbidities (additional disorders). The study team's findings resulted in the PCC's current treatment process for students with eating disorders.</p>
									<p>In Fuchs' approach to eating disorders, she emphasizes the illnesses' complexity and how it affects the treatment process.
									“These are complex illnesses and require a multidisciplinary approach," she said. "They also require a multimodal approach, meaning different forms of intervention, and that's why we have the individual and the group and the different types of individual therapy and the different types of group therapy. And that complexity requires a really good assessment and then figuring out the treatment."</p>
									<p>The Hustler asked some additional questions to allow Dr. Fuchs to clarify the process further.</p>
									<p><strong>The Vanderbilt Hustler:</strong> What is the general approach to eating-disorder treatment? </p>
									<p><strong>Catherine Fuchs:</strong> "The term ‘eating disorders’ refers to a very broad spectrum of disorders. Within those categories, we see students who are early in their phase of an eating disorder, we see students who have had struggles with their eating disorder for years through their adolescence and into college, and we see varying degrees of severity as well as degrees of insight. When you talk about treatment for eating disorders, you have to talk about it as a range of needs. When you look at a range of needs of any type of illness, then you've got a need for a core intervention. On some levels, (there is) a need for consultation outside the system or use of resources outside the system. A student who is seeking an intensity of care that might include twice-a-week therapy is an intensity of care that requires using the community resources, because that's an individual with a potentially more severe chronic or severe eating disorder. We might partner with people who are members of the Eating Disorder Coalition – therapists within the community who are members of the Eating Disorder Coalition – to make sure we have the breadth of services that that student might need."</p> 
									<p><strong>VH: </strong>How is the system of care decided? </p>
									<p><strong>CF: </strong>“It's not ‘one size fits all.’ We needed to really tailor the treatment to the individual needs of the student. We developed a protocol that requires an initial assessment of treatment planning process. We spend the first one to three meeting with that student getting information and identifying what is the most appropriate treatment plan. </p>
									<p>“At the core, what we provide here is individual therapy every other week with a focus on psychoeducation or coping skills or ACT therapy (acceptance and commitment therapy) or one of the others, but with group therapy as a collaborative process, so if you think about it, someone's getting group therapy weekly and individual therapy every other week and meeting with the nutritionist once a month at Student Health and meeting with the physician at Student Health and also meeting with our med provider here if they're on meds, then they may be getting in the course of four weeks eight to ten appointments. So even though it may not be weekly individual psychotherapy, it is a team-approach that provides a safety net for that student. We have some students who do come weekly for individual therapy initially so we do the assessment, we meet with them weekly to provide the ACT therapy or psychodynamic therapy, but if they're at a level where they need skills training, then we're going to see them every other week while they get the skills training, so it's not just that we think that's good enough. It's because we're creating a treatment plan based upon the presentation, and so there are some students who are seen weekly because that's where they are in the course of this protocol. Then we have students who will say, 'I need to be seen twice a week.' But that's where we then have to step up to using collaboration within the community because the system here is designed to take care of the majority and it's the minority that need that twice-a-week therapy."</p>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
						
					</div><!-- end modal --> 

					<p>A lack of resources is a problem for the PCC as there is a tremendous demand on the center. The center encourages patients requiring inpatient or intense outpatient treatment to look elsewhere, although overall Green considers the PCC’s resources usually adequate.</p>
					<p>“I think that if someone needed to be seen more often than seeing a therapist here once a week or every other week, depending on the severity, seeing Janell (Pendergrass, the nutritionist at the Student Health Center), seeing a med provider here, seeing an internist at Student Health — that should be adequate for somebody whose eating disorder isn’t significantly getting in their way,” Green said.</p>
					<p>Monarch advocates that students seek off-campus treatment if the disorder is particularly severe, but says that this is not always an ideal.</p> 
					<p>"Obviously they can go out into the Nashville community but that’s not feasible for some people,” Monarch said. “Freshmen don’t have cars and some people can’t pay for that.”</p>
					<p>Though most can agree that disordered eating is a problem on Vanderbilt’s campus and that there are resources available for recover, a debate still exists whether or not enough is being done for the severest of cases on campus.</p>
				</div>
			</div>
		</div>

		<!-- 2 columns left over for asides... hide on smaller screens --> 
		<div class="col-sm-2 article-asides">
			
		</div>

	</div><!-- end row --> 
</body>
</html>